$def with (story, results)

<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"> 

<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Checa.Url</title>
<link type="text/css" rel="stylesheet" media="all" href="static/stylesheets/screen.css" />
<link type="text/css" rel="stylesheet" media="all" href="http://fonts.googleapis.com/css?family=Copse" />
<script type="text/javascript" src="static/javascripts/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="static/javascripts/jquery.masonry.min.js"></script>
<script type="text/javascript" src="static/javascripts/cheque.js"></script>
</head>

<body>

<div class="header">
<h1><img id="logo" src="static/images/logo.png" alt="Checa.Url" /></h1>

<p id="description">
<span class="line">ChequeURL é um aplicativo que enriquece as informações </span>
<span class="line">jornalísticas comparando Empresas com Doações realizadas </span>
<span class="line">nas Campanhas Eleitorais para melhor contextualizar </span>
<span class="line">as relações entre Dinheiro e Poder.</span>
</p>
</div> <!-- header -->

<form action="/" method="get">
<div class="form-inner">
    
<div class="input-wrapper">
<input type="text" name="url" placeholder="coloque aqui a url da noticia..." size="30"/>
</div><!-- input-wrapper -->

<span class="go-easy-on-us">Use com moderação</span>

<div class="submit-wrapper">
<input type="submit" value="Pesquisar" />
</div><!-- submit-wrapper -->

</div><!-- form-inner -->
</form>

$if story:
    <h2 class="results">
    <span class="title">Noticia consultada:</span>
    <a class="link" href="$story.url">$story.title</a>
    </div><!-- results -->

    <div class="donators">
    $for result in results:
        <div class="donator">

        <h3><a href="http://spce2010.tse.jus.br/spceweb.consulta.receitasdespesas2010/abrirTelaReceitasCandidato.action?sqCandidato=&rb1=on&rbTipo=on&nrCandidato=&nmCandidato=&sgUe=&sgPartido=&cpfCnpjDoador=$result['donations'][0].cnpj&codigoEspecieRecurso=&action%3AresumoReceitasByCandidato=Resumo" title="$result['donations'][0].name">$result['fantasy_name']</a></h3>
	$code:
        $for donation in result['donations']:
            <p>Doou <span class="valor">$donation.value</span> para $donation.candidate do $donation.party em $donation.date</p>
        <p class="total">
        <span class="label">Total:</span> 
        <span class="value-wrapper"><span class="value">R\$ $result['total']</span></span>
        </p>	
        </div><!-- donator -->
    </div><!-- donators -->
</body>
